### Data types

Python keeps track of different **data types** for each variable and each output it computes. We've already seen two different data types, in fact: one for integers (whole numbers) and one for numbers with a fractional part.

We can use `type()` to ask Python, what is the type of this value?

Here is an example, asking Python the type of the number `6`. The result of `int` is short for **int**eger.

In [1]:
type(6)

int

Below we ask Python the type of the number 2.5. The result of `float` is short for **float**ing-point number, which is a slightly confusing reference to the decimal point in a number with a fractional part.

In [2]:
type(2.5)

float

All of the values that Python computes have a data type.

Below, we ask Python the type of the value computed when we do multiplication `2*3`

In [3]:
type(2*3)

int

When we multiply two integers together, the result is also an integer.

Division can create non-integers from integers, however. Even though `5` and `2` are integers, `5/2` is not an integer.

In [4]:
type(5/2)

float

Because division can create non-integers, the output of division is _always_ a `float`, even when the result happens to be a whole number and the fractional part is 0. We can see this when we divide `6` by `2`.

In [6]:
type(6/2)

float

In fact, we can write a whole number as a `float` by adding the decimal point and zero, like `6.0`

In [9]:
type(6.0)

float

Because Python keeps track of data types, the integer `6` and the number `6.0` are not the same.

### Strings

Python can also keep track of text in variables. We'll often use text to store DNA or protein sequences using one-letter codes. The type of this text data is `str`, because the text is a **str**ing of characters.

To write a text string in Python, enclose it in single quotes. Using quotes allows Python to distinguish a text string from the name of a variable: `'x'` is a one-letter text string, and `x` refers to a variable with a one-letter name.

Here we look at the type of the string `'MCB200'`

In [12]:
type('MCB200')

str

We can join two strings together using `+`. Joining strings like this is called **concatenation**. Below we join the string `'MCB'` with the string `'200'`.

In [14]:
'MCB' + 200

TypeError: can only concatenate str (not "int") to str

Notice that the string `'200'` is different from the number `200`. The string is a sequence of three characters that happen to be digits, and adding two strings that happen to be numbers will not perform arithmatic.

Here we add the string `'200'` to the string `'100'`

In [15]:
'200' + '100'

'200100'

What happens when we try to add a string with an integer?

The string `'200'` and the integer `100` are incompatible types, and when we try to add them, it produces a "type error". But, what if we have an integer and we want to turn it into a string?

We can use `str(...)` to convert a number into a string, like this:

In [19]:
'MCB' + str(200.0000)

'MCB200.0'